@use "../../../../resources/scss/01-settings/colors" as color;
@use "../../../../resources/scss/01-settings/measurements" as measurement;

.stock-info-component {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-top: measurement.$universal-space;
	background-color: color.$c-white;
	border: 2px solid color.$c-dark-green;
	color: color.$c-black;
	border-radius: 32px;
	padding: measurement.$universal-space;
	font-size: 1.6rem;

	> div {
		flex: 1;
	}

	&--error {
		color: color.$c-pink;
	}

	&__symbol {
		font-weight: 700;
		margin-right: 0.5rem;
	}

	&__exchange, &__currency {
		text-transform: uppercase;
		color: color.$c-black;
		font-size: 1.6rem;
	}

	&__price {
		font-weight: 600;
		display: flex;
		align-items: baseline;
		gap: 0.5rem;
		font-size: 2rem;
		width: 100%;
	}

	&__change {
		font-size: 1.4rem;
		font-weight: bold;

		&--up {
			color: color.$c-green;
		}

		&--down {
			color: color.$c-purple;
		}

		&--natural {
			color: color.$c-black;
		}
	}

	&__arrow {
		width: measurement.$universal-space-2;
		height: measurement.$universal-space-2;

		&--up {
			color: color.$c-green;
		}

		&--down {
			transform: rotate(180deg);
			color: color.$c-dark-pink;
		}

		&--natural {
			color: color.$c-black;
		}
	}
}
